:root {
    --main: #EAE9E6;
    --secondary: #7A7884;
    --grey1: #574C53;
    --grey2: #737079;
    --background-color: #18161a;
}

.wrapper {
    text-align: center;
}

.profile-image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.15);
}

.profile-name {
    color: var(--main);
    margin-top: 22px;
    font-size: 28pt;
    text-shadow: 4px 3px 5px rgb(0, 0, 0);
}

.desc {
    font-size: 14pt;
}

.desc p {
    color: var(--secondary);
    margin: 22px 72px;
}

@media (max-width: 900px) {
    .desc p {
        margin: 22px 12px;
    }
}

.form-wrapper, .social-wrapper {
    margin-top: 22px;
    padding-top: 26px;
    border-top: 1px solid var(--grey1);
    text-shadow: 4px 3px 5px rgb(0, 0, 0);
}

.social {
    text-shadow: none;
}

h2.heading {
    font-size: 25pt;
    margin-bottom: 32px;
}

.social-wrapper i {
    font-size: 32pt;
    padding: 12px;
}

@media (max-width: 400px) {
    .social-wrapper i {
        font-size: 22pt;
        padding: unset;
    }   
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 62%;
    margin: 12px auto 14px;
}

.form-field {
    width: 100%;
}

.form-field input, .form-field textarea, input[type=submit], button {
    width: 100%;
    margin: 8px auto;
    padding: 16px 14px;
    background-color: var(--form-input-background);
    color: var(--main);
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    border: 0;
}

.form-field input:focus, .form-field textarea:focus {
    outline-color: var(--form-submit);
    outline-style: solid;
    outline-width: thin;
}

.form-field.half {
    width: calc(50% - 8px);
}

.form-actions input[type=submit], button {
    width: unset;
    border: none;
    margin: 12px 0;
    padding: 16px 44px;
    cursor: pointer;
    background-color: var(--form-submit);
    transition: 0.3s ease 0s;
}

.form-actions input[type=submit]:hover, button {
    background-color: var(--form-submit-hover);
}

button {
    margin-left: 8px;
    border: 1px solid var(--grey2);
    background: transparent;
}

button:hover {
    color: var(--form-submit);
    border: 1px solid var(--form-submit-hover);
}

@media (max-width: 900px) {
    form {
        width: 86%;
    }
}

@media (max-width: 400px) {
    form {
        width: 86%;
    }

    .form-field.half {
        width: 100%;
    }

    .form-actions button {
        margin-left: unset;
    }
}