@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

:root {
    --main: #EAE9E6;
    --secondary: #7A7884;
    --grey1: #574C53;
    --grey2: #737079;
    --background-color: #18161a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main);
    font-family: 'Open Sans', sans-serif;
}

p, a, li, span {
    color: var(--main);
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    transition: 0.3s ease 0s;
}

a:hover {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--secondary);
}

body,
html {
    background: var(--background-color);
}

body {
    padding-top: 80px;
}

.container:nth-child(2) {
    padding: 0 !important;
    width: 90%;
    max-width: 1380px;
    margin-top: 22px;
    margin-bottom: 20px;
    background-color: rgba(115, 112, 121, 0.25);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.15);
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.collapse {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

main {
    padding: 20px 20px 20px 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14pt;
    color: var(--main);
    background-color: #111;
    z-index: 999;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 12px;
}

.nav-links li a {
    color: var(--main);
    text-decoration: none;
    transition: 0.3s ease 0s;
}

.nav-links li a.active, .nav-links li a:hover {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--secondary);
}

.nav-links li a:hover {
    color: #fff;
}

@media (max-width: 900px) {
    .logo {
        position: absolute;
        top: 10px;
        left: 20px;
    }

    .collapse {
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
    }

    .navbar .container {
        background-color: #111;
        flex-direction: column;
        height: 60px;
    }

    .navbar .container.active {
        height: auto;
    }

    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 15px auto;
    }

    .nav-links li:first-child {
        padding-top: 42px;
    }

    .nav-links li:last-child {
        padding-bottom: 28px;
    }

    .nav-links li a.active, .nav-links li a:hover {
        padding-bottom: unset;
        border-bottom: unset;
    }
}

footer {
    margin: 22px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.social a {
    font-size: 17pt;
    padding: 0 8px;
    color: var(--secondary);
}

.social a:hover {
    border-bottom: unset;
    color: var(--main);
}

@media (max-width: 900px) {
    footer .container {
        flex-direction: column;
        text-align: center;
    }

    .legal a {
        display: block;
        margin: 22px 0;
    }
}

.gallery {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 8px;
    align-items: center;
}

.gallery-item {
    overflow: hidden;
}

.gallery img {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.15);
}

.gallery img:hover {
    transform: scale(1.5);
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}