<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/eb8e34ad26.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block styles %}{% endblock %}
    {% if title %}
    <title>{{ title }} | Portfolio</title>
    {% else %}
    <title>Portfolio</title>
    {% endif %}
</head>
<body>
    {% include "gallery/viewer.html" %}

    <nav class="navbar">
        <div class="container" id="navbar-container">
            <a href="{% url 'index' %}" class="logo"><img src="#" alt="Logo"></a>
            <span class="collapse" id="btn-collapse">
                <i class="fas fa-bars"></i>
            </span>
            <ul class="nav-links" id="nav-links">
                <li><a href="{% url 'index' %}"{% if page == 'gallery' %} class="active"{% endif %}>Gallery</a></li>
                <li><a href="{% url 'collections' %}"{% if page == 'collections' %} class="active"{% endif %}>Collections</a></li>
                <li><a href="#"{% if page == 'archives' %} class="active"{% endif %}>Archives</a></li>
                <li><a href="{% url 'about' %}"{% if page == 'about' %} class="active"{% endif %}>About Me</a></li>
            </ul>
        </div>
    </nav>

    <div id="main-container" class="container">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="legal">
                <span>&copy; {% now "Y" %} Company Name</span>
                <a href="#" style="margin-left: 22px;">Privacy Policy</a>
            </div>
            {% include "user/social_links.html" %}
        </div>
    </footer>

    <script>
        var btnCollapse = document.getElementById('btn-collapse');
        var navbarContainer = document.getElementById('navbar-container');
        var navLinks = document.getElementById('nav-links');

        btnCollapse.addEventListener('click', function (e) {
            navLinks.classList.toggle('active');
            navbarContainer.classList.toggle('active');
        });
    </script>
    <script src="{% static 'js/viewer.js' %}"></script>
</body>
</html>