{% extends "gallery/base.html" %}

{% block styles %}
<style>
    .wrapper {
        margin: 12px auto 44px;
        padding-bottom: 22px;
        border-bottom: 1px solid var(--grey2);
    }

    .title {
        font-size: 28pt;
        text-align: center;
    }

    .subtitle {
        margin-top: 8px;
        color: var(--secondary);
        font-family: 'Montserrat', sans-serif;
        text-shadow: none;
    }

    .info p {
        color: var(--grey2);
        font-weight: 600;
        font-size: 18pt;
    }

    .info p strong {
        color: var(--main);
        margin-right: 4px;
    }

    @media (max-width: 900px) {
        #back-btn {
            display: block;
            margin: 22px auto;
        }
    }
</style>
{% endblock %}

{% block content %}
<button id="back-btn">Back to Collections</button>
<article class="wrapper">
    <h1 class="title">{{ object.title }}</h1>
    <h3 class="subtitle">Created: {{ object.created|date:"F d, Y" }}</h3>
    <div class="desc">
        {{ object.description|linebreaks }}
    </div>
    <div class="info">
        <p><strong>{{ object.photos.all.count }}</strong> Photos</p>
    </div>
</article>

<div class="gallery" id="gallery">
    {% for photo in object.photos.all %}
    <div class="gallery-item">
        <img src="{{ photo.imageUrl }}" alt="">
    </div>
    {% endfor %}
</div>
<button style="margin: 44px auto; display: block;">Load More</button>

<script>
    var backBtn = document.getElementById('back-btn');
    
    backBtn.addEventListener('click', function (e) {
        window.location = "{% url 'collections' %}";
    });
</script>
{% endblock %}