{% extends "gallery/base.html" %}

{% block content %}
<button id="back-btn">Back to Archive</button>
<h2 class="title">{{ year|date:"Y" }}</h2>
<ul style="margin-top: 22px; border-bottom: 1px solid var(--grey1); padding-bottom: 22px;">
    {% for date in date_list %}
    <li style="display: inline-block; margin-right: 8px;"><a href="{% url 'archive-month' date|date:'Y' date|date:'M' %}">{{ date|date:"M Y" }}</a></li>
    {% endfor %}
</ul>

<div class="gallery" id="gallery">
    {% for photo in page_obj %}
    <div class="gallery-item" data-url="{% url 'viewer' photo.pk %}">
        <img src="{{ photo.imageUrl }}" alt="">
    </div>
    {% endfor %}
</div>

{% include "gallery/pagination.html" %}

<script>
    var backBtn = document.getElementById('back-btn');

    backBtn.addEventListener('click', function(e) {
        console.log('back');
    });
</script>
{% endblock %}