<div id="viewer" class="viewer">
    <span id=viewer-close>&Cross;</span>
    <div class="viewer-wrapper">
        <img id="viewer-img" src="#" alt="">
        <i id="left-btn" class="viewer-btn fas fa-chevron-left"></i>
        <i id="right-btn" class="viewer-btn fas fa-chevron-right"></i>
    </div>
</div>

<script>
    var left = document.getElementById('left-btn');
    var right = document.getElementById('right-btn');

    left.addEventListener('click', function(e) {

    });

    right.addEventListener('click', function(e) {

    });
</script>