{% extends "gallery/base.html" %}

{% block content %}
<div class="wrapper">
    <img class="profile-image" src="{{ user.profile.imageUrl }}" alt="">
    <h1 class="profile-name">{{ user.first_name }} {{ user.last_name }}</h1>

    <div class="desc">
        {{ user.profile.biography|linebreaks }}
    </div>

    <div class="social-wrapper">
        <h2 class="heading">Follow me on...</h2>
        {% include "user/social_links.html" %}
    </div>

    <div class="form-wrapper">
        <h2 class="heading">Get in touch</h2>
        <form action="#" method="post">
            <div class="form-field half">
                <input type="text" name="name" id="name" placeholder="Full Name">
            </div>
            <div class="form-field half">
                <input type="email" name="email" id="email" placeholder="Email Address">
            </div>
            <div class="form-field">
                <input type="text" name="subject" id="subject" placeholder="Subject">
            </div>
            <div class="form-field">
                <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
            </div>
            <div class="form-actions">
                <input type="submit" name="submit" value="Submit">
                <button id="btn-clear-form">Clear</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}